body {
    margin: 0;
    font-family: "Quicksand";
    background-color: #BFFCFF;
    position: relative;
    font-size: 2em;
}
canvas {
    position: absolute;
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 5;
}

.canvasSpace {
    position: relative;
    top: 10%;
    left: 0%;
    width: auto;
    height: 80%;
    aspect-ratio: 4 / 5;
    margin: 0 auto;

    touch-action: none;
}

.container {
    position:relative;
    height: 100vh;
    touch-action: none;
}

.fill {
    position:absolute;
    bottom:0%;
    left:0%;
    width:100%;
    height:100%;
}

.leftAlign {
    text-align: left;
}

.middleBox {
    position: relative;
    left:22.5%;
    width: 55%;
}

#gameSpace {
    position:absolute;
    bottom: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    font-size: 3.5vh;
    background-color: rgba(125, 229, 255, 0.0);
    /* display:none; */
}

/* Button animations */
button {
    font-family: "Quicksand";
    color: black;
    position:relative;
    width:max-content;

    font-size: 2rem;

    background-color: rgba(13, 227, 223, 0);
    border-radius: 10px;
    /* border-style: outset; */
    border-width: 3px;
    border-color: #6C7294;
    z-index:0;
    transition:border-color 0.3s;
    padding: 3vmin;
    
}

button:hover, button:focus{
    border-color:white;
}

div.buttonFadeIn {
    position:absolute;
    border-radius: 7px;
    bottom:50%;
    left:50%;
    width:0%;
    height:0%;
    background-color: rgba(187, 255, 219, 0.5);
    transition: all 0.3s;
    z-index:-1;
}

button:hover div.buttonFadeIn {
    left: 0%;
    bottom: 0%;
    height: 100%;
    width: 100%;
}

button:active div.buttonFadeIn {
    background-color: #88B2B5;
}

div.buttonBackground {
    position:absolute;
    border-radius: 7px;
    bottom:0%;
    left:0%;
    width:100%;
    height:100%;
    background-color: #0DE3DF;
    z-index:-2;
}


div.hide {
    display:none;
}

/* Game GUI elements */
.guiInfoBox {
    width: max-content;
    height: min-content;
    font-size: 1rem;
    padding-left:1%;
    border-style:solid;
    border-width:2px;
    border-radius: 2px;
    border-color: #6C7294;
    background-color: #BBFFDB;
}

#heldPiece {
    position: relative;
    width:17.5%;
    height: 14%;
}
#heldPieceText {
    position: static;   
    width: 17.5%;
    height: min-content;
    font-size: 0.6rem;
    border-style:none;
    text-align: center;
    margin-bottom: 1%;
}
#underHoldSpace {
    position: relative;
    right: 82%;
    min-width: 17%;
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 5px;
}

.hide {
    display: none;
}


/* Title screen elements */
#titleScreen {
    
    background-color: rgb(191, 252, 254);;
    text-align: center;
}


#GitHub {
    position: absolute;
    bottom:5%;
    left: 10%;
    width:80%;
}



/* Game over elements */
#gameOverScreen {
    background-color: #BBFFDB;
    text-align: center;
}

/* Pause screen elements */
#pauseScreen {
    text-align: center;
    background-color: #88B2B5;
}


#settingsScreen {
    background-color: #6C7294;
    color: white;
    text-align: center;
    
}

#controlMapArea {
    text-align: left;
    position:relative;
    left:12.5%;
    top: 5%;
    width:75%;
}

.controlRebind {
    color: #6C7294;
    border-width: 3px;
    border-style:solid;
    border-color: white;
    background-color:#0DE3DF;
    padding: 0.5% 1%;
    margin-left: 2%;
    margin-right: 2%;
    transition: background-color, border-color 0.5s;
    border-radius:2px;

    display:inline-block;
    position:relative;
    right:0%;
    text-align: center;
    width: 37%;
    height: 1.2em;
}

.controlRebind:hover, .controlRebind.waiting{
    background-color: #BBFFDB;
    border-color:#88B2B5;
}

#settingsScreen button {
    position: absolute;
    top: 80%;
    left: 36.5%;
}

.leftHalf {
    position:absolute;
    top: 0%;
    height: 100%;
    left: 0%;
    width: 50%;
}
.rightHalf {
    position:absolute;
    top: 0%;
    height: 100%;
    right: 0%;
    width: 50%;
    text-align: right;
}

.controller {
    position: absolute;
    bottom: 10%;
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
}

.small-grid {
    display: grid;
    aspect-ratio: 1 / 1;
    height: 100%;
    width: auto;
    grid-template-areas:
        "northwest north northeast"
        "west center east"
        "southwest south southeast";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: auto 0;
}

@media (max-aspect-ratio: 4 / 10) {
    .small-grid {
        height: auto;
        width: 100%;
    }
}

.north {
    grid-area: north;
}
.east {
    grid-area: east;
}
.south {
    grid-area: south;
}
.west { 
    grid-area: west;
}
.northwest {
    grid-area: northwest;
}
.northeast {
    grid-area: northeast;
}
.center {
    grid-area: center;
}
.southwest {
    grid-area: southwest;
}
.southeast {
    grid-area: southeast;
}

.left-item {
    justify-self: start;
}
.right-item {
    justify-self: end;
}

.controlButton {
    width: 100%;
    height: 100%;
    background-image: url("../textures/block.png");
    background-size: cover;
    padding: 0;
    margin: 0;
    /* z-index: auto; */
    user-select: none;
}

.controlButton.pressed {
    background-image: url("../textures/pressed-block.png");
}

.controlButton > img {
    width: 50%;
    height: 50%;
}

#pauseButton {
    position: absolute;
    left: 1%;
    top: 1%;
    aspect-ratio: 1;
    height: 8%;
    width: auto;

    margin: 0;
    border-style: none;
    padding: 0;
}

@media (orientation: portrait) {
    #pauseButton {
        width: 8%;
        height: auto;
    }
}

#pauseButton > img {
    width: 100%;
    height: 100%;
}

#tib_moveLeft, #tib_rotateClockwise > img {
    transform: scaleX(-1);
}


@media (max-aspect-ratio: 4 / 5) {
    .canvasSpace {
        height: 60%;
        max-width: 100%;
    }

    .controller {
        height: 20%;
    }

}



.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* min-height: 100%; */
    height: 100vh;
    overflow-y: scroll;
    touch-action:pan-y;
    /* height: max-content; */
}